<ul class="guide-content">
  <li>
    <a href="{{ site.baseurl }}/alpha/">Guide Index</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/alpha/1-introduction">1. Introduction</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/alpha/2-alpha-team">2. The Alpha Team</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/alpha/3-during-alpha">3. During Alpha</a>
    <ul>
      <li><a href="{{ site.baseurl }}/alpha/3-during-alpha/3-1-outcomes-to-deliver.html">3.1. Outcomes to Deliver</a></li>
      <li><a href="{{ site.baseurl }}/alpha/3-during-alpha/3-2-activities-to-complete.html">3.2. Activities to Complete</a></li>
      <li><a href="{{ site.baseurl }}/alpha/3-during-alpha/3-3-technical-practices.html">3.3. Technical Practices and Culture</a></li>
      <li><a href="{{ site.baseurl }}/alpha/3-during-alpha/3-4-supporting-activities.html">3.4. Supporting Activities</a></li>
    </ul>
  </li>
</ul>
