<ul class="guide-content">
  <li>
    <a href="{{ site.baseurl }}/discovery/">Guide Index</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/discovery/1-introduction">1. Introduction</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/discovery/2-starting-discovery">2. Starting Discovery</a>
    <ul>
      <li><a href="{{ site.baseurl }}/discovery/2-starting-discovery/2-1-before-you-start.html">2.1. Before you start</a></li>
      <li><a href="{{ site.baseurl }}/discovery/2-starting-discovery/2-2-kick-off.html">2.2. The kick-off</a></li>
      <li><a href="{{ site.baseurl }}/discovery/2-starting-discovery/2-3-ways-of-working.html">2.3. Ways of working</a></li>
      <li><a href="{{ site.baseurl }}/discovery/2-starting-discovery/2-4-activities.html">2.4. Activities to do</a></li>
      <li><a href="{{ site.baseurl }}/discovery/2-starting-discovery/2-5-artefacts.html">2.5. Artefacts to produce</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ site.baseurl }}/discovery/3-finishing-discovery">3. Finishing Discovery</a>
    <ul>
      <li><a href="{{ site.baseurl }}/discovery/3-finishing-discovery/3-1-identifying-hypotheses.html">3.1. Identifying the hypotheses to test</a></li>
      <li><a href="{{ site.baseurl }}/discovery/3-finishing-discovery/3-2-reporting-findings.html">3.2. Reporting back findings</a></li>
      <li><a href="{{ site.baseurl }}/discovery/3-finishing-discovery/3-3-digital-service-standard.html">3.3. Assessing against the Digital Service Standard</a></li>
      <li><a href="{{ site.baseurl }}/discovery/3-finishing-discovery/3-4-moving-into-alpha.html">3.4. Moving into Alpha</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ site.baseurl }}/discovery/4-further-reading">4. Further reading and acknowledgements</a>
  </li>
</ul>
