<!--<ul class="top-level">

    {% if page.section == 'home' %}
      <li><a href="{{ site.baseurl }}/discovery">Discovery</a></li>
      <li><a href="{{ site.baseurl }}/alpha">Alpha</a></li>
    {% else %}
      {% include table_of_contents.html %}
    {% endif %}

</ul>
-->

<nav class="local-nav local-nav-demo global" aria-label="main navigation">
  <h1 class="is-visuallyhidden">Menu</h1>
  {% include table_of_contents.html %}
</nav>
<!--
<nav class="local-nav local-nav-demo" aria-label="main navigation">
  <h1 class="is-visuallyhidden">Menu</h1>
  <ul>
    <li>
      <a href="#" class="is-active">Department of Communications and the Arts</a>
      <ul>
        <li>
          <a href="#" class="is-active">People and structure</a>
          <ul>
            <li><a href="#">Division name</a></li>
            <li>
              <a href="#" class="is-active">Division name</a>
              <ul>
                <li><a href="#" class="is-active is-current">Branch name</a></li>
                <li><a href="#">Branch name</a></li>
              </ul>
            </li>
            <li><a href="#">Division name</a></li>
          </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><span class="placeholder-link">A placeholder item</span></li>
      </ul>
    </li>
  </ul>
</nav>
-->
