{% if page.collection == 'discovery' %}
  <header class="section hero">
    <a href="{{ site.baseurl }}/discovery"><span class="site-title">Discovery</span></a>
  </header>
{% elsif page.collection == 'alpha' %}
  <header class="section hero">
      <a href="{{ site.baseurl }}/alpha"><span class="site-title">Alpha</span></a>
  </header>
{% elsif page.collection == 'capability' %}
  <header class="section hero">
      <a href="{{ site.baseurl }}/capability"><span class="site-title">Capability</span></a>
  </header>
{% elsif page.collection == 'inflight' %}
  <header class="section hero">
      <a href="{{ site.baseurl }}/inflight"><span class="site-title">Inflight</span></a>
  </header>
{% endif %}
