{% if page.collection == 'discovery' %}
  <header class="section">
    <h1>
      <a href="{{ site.baseurl }}/discovery">Discovery</a>
    </h1>
  </header>
{% elsif page.collection == 'alpha' %}
  <header class="section">
    <h1>
      <a href="{{ site.baseurl }}/alpha">Alpha</a> <span class="draft">Draft</span>
    </h1>
  </header>
{% elsif page.collection == 'capability' %}
  <header class="section">
    <h1>
      <a href="{{ site.baseurl }}/capability">Capabilities</a> <span class="draft">Draft</span>
    </h1>
  </header>
{% endif %}
