<!doctype html>
<html>
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61222473-18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-61222473-18');
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} - Service Handbook - Digital Transformation Office</title>

  <style type="text/css">
    @import url("{{ site.baseurl }}/stylesheets/service-handbook.css");
  </style> 
  
</head>
<body>

<header class="global">
  <h1><a href="https://www.dto.gov.au/">Digital Transformation Office</a></h1>
  <h2><a href="{{ site.baseurl }}/">Service Handbook</a></h2>
</header>

<main class="{{ page.collection }} {{ page.section }}">
  {% include section_header.html %}

  <section class="column-container">
    {{ content }}
  </section>
</main>

</body>
</html>
